In [1]:
import pyodbc
import pandas as pd

In [2]:
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      'SERVER=fieldoperations;'
                      'DATABASE=five_tools;'
                      'Trusted_Connection=yes;')

welldf = pd.read_sql_query('''SELECT WID, wellName, project, prodArea, bench from dbo.well''', conn)

scheduledf = pd.read_sql_query('''SELECT WID, DOFP FROM dbo.playgroundscenario''', conn)

conn.close()

In [3]:
masterdf = welldf.merge(scheduledf, on='WID', how='left')
masterdf["liftType"] = ""
#zero_list = [0] * len(masterdf['WID'])

#masterdf['liftType'] = zero_list

wid_list = masterdf['WID'].to_list()

masterdf.head(10)

,WID,wellName,project,prodArea,bench,DOFP,liftType
0,100000,Nail D-11 #1H,Toe Nail,Nail,WCB,NaN,
1,100001,Bent Nail 36 #1H,Box Nail,Nail,WCB,NaN,
2,100002,Wilkinson Ranch #351H,Bigtooth Maple (WR),Wilkinson,WCA,NaN,
3,100003,S Wilkinson #181H,Tall Grass,Wilkinson,WCA,NaN,
4,100004,S Wilkinson #191H,Seaoats,Wilkinson,WCAA,NaN,
5,100005,Guitar Galusha #1H,Guitar Galusha,Matador,WCA,NaN,
6,100006,Gratis 32 R #1HB,Gratis,Matador,WCB,NaN,
7,100007,Bent Nail 36 #2HA,Box Nail,Nail,WCA,NaN,
8,100008,Craig #1HS,Craig East,Troy,LSBL,NaN,
9,100009,Craig #1HB,Craig East,Troy,WCB,NaN,

In [48]:
for i in wid_list:
    index = masterdf.loc[masterdf['WID'] == i].index.item()
    if masterdf.iloc[index,4] == 'WCB':
        masterdf.at[index, 'liftType'] = 'HB_240'

    elif masterdf.iloc[index,4] == 'WCB2':
        masterdf.at[index, 'liftType'] = 'HB_240'

    elif masterdf.iloc[index,4] == 'WCB3':
        masterdf.at[index, 'liftType'] = 'HB_240'

    elif masterdf.iloc[index,4] == 'WCC':
        masterdf.at[index, 'liftType'] = 'HB_240'

    elif masterdf.iloc[index,4] == 'WCA':
        masterdf.at[index, 'liftType'] = 'HA_240'

    elif masterdf.iloc[index,4] == 'WCAA':
        masterdf.at[index, 'liftType'] = 'HA_240'

    elif masterdf.iloc[index,4] == 'DN':
        masterdf.at[index, 'liftType'] = 'HA_240'

    elif masterdf.iloc[index,4] == 'MSBY':
        masterdf.at[index, 'liftType'] = 'LS_240'

    elif masterdf.iloc[index,4] == 'JM':
        masterdf.at[index, 'liftType'] = 'LS_240'

    elif masterdf.iloc[index,4] == 'CLN':
        masterdf.at[index, 'liftType'] = 'LS_240'

    elif masterdf.iloc[index,4] == 'LSBL':
        masterdf.at[index, 'liftType'] = 'LS_240'

    elif masterdf.iloc[index,4] == 'LSBU':
        masterdf.at[index, 'liftType'] = 'LS_240'

masterdf["gen"] = ""
masterdf["LT1"] = ""
masterdf["LTD1"] = ""
masterdf["LT2"] = ""
masterdf["LTD2"] = ""
masterdf["LT3"] = ""
masterdf["LTD3"] = ""
masterdf["meter"] = ""

masterdf.to_excel(r'C:\Users\bbell\Desktop\masterforecastDB.xlsx')